/** Navbar  **/
.navbar {
    text-transform: uppercase;
    border-top: 3px solid #F7A600;
}
.navbar-nav>li>a {
    padding-top: 20px;
    padding-bottom: 20px;
}
.navbar-nav>li>a.active {
    background-color: #e7e7e7;
}
.navbar-right>li>a:hover {
    background-color: #e7e7e7 !important;   
}

/** Général CSS **/
h1 {
    font-weight: 400;
    font-family: times, Times New Roman, times-roman, georgia, serif;
    font-weight: bold;
    font-size: 51px;
}
h2 {
    font-weight: 200;
}
h2 a {
    color: #F7A600;
}
h3 {
    font-style: italic;
    color: grey;
}
.bmt {
    margin-top: 45px;
}
.bpt {
    padding-top: 45px;
}
.mt {
    margin-top: 15px;
}
.mb {
    margin-bottom: 15px;
}
.bmb {
    margin-bottom: 45px;
}
p, .row li {
    font-size: 1.4em;
}
.reading {
    float: right;
}
.center {
    text-align: center;
}
.right {
    float: right;
    text-align: right;
}
.flag {
    position: absolute;
    top: 20px;
    right: 20px;
}
.quote {
    padding-top: 15px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 15px;
    font-size: 1.4em;
}
.company {
    position: relative;
    top: 5px;
    left: -4px;
}
.a-port {
    min-height: 155px;
}
.thumb img {
    max-width: 100%;
    border-radius: 50%;
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
    transition: filter 2s;
}
.thumb img:hover {
    -webkit-filter: grayscale(0%); 
    filter: grayscale(0%); 
    transition: 2s;
}
p:first-of-type::first-letter {  float: left; color: #F7A600; font-size: 65px; line-height: 45px; padding-top: 8px; padding-right: 8px; padding-left: 3px; }

.po {
    font-size: 1.2em;
}
blockquote {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 20px;
    margin-bottom: 45px;
    font-size: 1.2em;
    font-style: italic;
    // background-color: #f7f7f7;
    border: 0px;
}
blockquote::before {
    font-family: "FontAwesome";
    content: "\f10d";
    width: 20px;
    height: 20px;
    font-size: 35px;
    position: absolute;
    left: 10px;
    color: #efefef;
}
blockquote::after {
    font-family: "FontAwesome";
    content: "\f10e";
    width: 20px;
    height: 20px;
    font-size: 35px;
    position: relative;
    float: right;
    right: 25px;
    top: -15px;
    color: #efefef;
}
.footer {
    margin-top: 30px;
    margin-bottom: 30px;
}
